* {
  --md-primary-color: green;
  line-height: 1.75;
}
#output {
  line-break: anywhere;
}

h1 {
  /**一级标题*/
  display: table;
  border-bottom: 2px solid var(--md-primary-color);
  margin: 2em auto 1em;
}
h1 .content {
  /**一级标题内容部分*/
  display: inline-block;
  padding: 0 1em;
  color: var(--el-text-color-regular);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  /**二级标题*/
  display: table;
  margin: 4em auto 2em;
}
h2 .content {
  /**二级标题内容部分*/
  display: inline-block;
  padding: 0.2em 0.2em;
  color: #fff;
  background: var(--md-primary-color);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  /**三级标题*/
  border-left: 3px solid var(--md-primary-color);
  margin: 2em 8px 0.75em 0;
}
h3 .content {
  /**三级标题内容部分*/
  display: inline-block;
  padding-left: 8px;
  color: var(--el-text-color-regular);
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  /**四级标题*/
  margin: 2em 8px 0.5em;
}
h4 .content {
  /**四级标题内容部分*/
  display: inline-block;
  color: var(--md-primary-color);
  font-size: 1em;
  font-weight: bold;
}

p {
  /**段落*/
  margin: 1.5em 8px;
  letter-spacing: 0.1em;
  color: var(--el-text-color-regular);
  text-align: justify;
}

blockquote {
  /**引用*/
  font-style: normal;
  border-left: none;
  padding: 1em;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.5);
  background: #f7f7f7;
  margin: 2em 8px;
}
.dark blockquote {
  /**暗黑模式下的引用*/
  background: #080808;
}

.blockquote_p {
  /**引用中的段落*/
  display: block;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(80, 80, 80);
}
.dark .blockquote_p {
  /**暗黑模式下引用中的段落*/
  color: rgb(175, 175, 175);
}

.code_pre {
  /**代码快*/
  font-size: 14px;
  overflow-x: auto;
  border-radius: 8px;
  padding: 1em;
  line-height: 1.5;
  margin: 10px 8px;
}

code {
  /**代码快中的代码*/
  margin: 0;
  white-space: nowrap;
}
code * {
  /**代码快中的内容*/
  font-family:
    Menlo,
    Operator Mono,
    Consolas,
    Monaco,
    monospace;
}

img {
  /**图片*/
  display: block;
  max-width: 100% !important;
  margin: 0.1em auto 0.5em;
  border-radius: 4px;
}

ol {
  /**有序列表*/
  padding-left: 1em;
  margin-left: 0;
  color: var(--el-text-color-regular);
}

ul {
  /**无序列表*/
  list-style: circle;
  padding-left: 1em;
  margin-left: 0;
  color: var(--el-text-color-regular);
}

figure {
  /**图*/
  margin: 1.5em 8px;
  color: var(--el-text-color-regular);
}

hr {
  /**分割线*/
  border-style: solid;
  border-width: 1px 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1, 0.5);
  transform-origin: 0 0;
  transform: scale(1, 0.5);
}

listitem {
  /**列表中的item*/
  text-indent: -1em;
  display: block;
  margin: 0.2em 8px;
  color: var(--el-text-color-regular);
}

codespan {
  /**行内代码*/
  font-size: 0.9em;
  color: #d14;
  background: rgba(27, 31, 35, 0.05);
  padding: 3px 5px;
  border-radius: 4px;
  /** word-break: break-all; */
}

em {
  /**斜体*/
  font-style: italic;
  font-size: inherit;
}

.link {
  /**链接*/
  color: #576b95;
}

.wx_link {
  /**微信链接*/
  color: #576b95;
  text-decoration: none;
}

sup {
  /**上标*/
  font-size: 0.8em;
}

strong {
  /**加粗*/
  color: var(--md-primary-color);
  font-weight: bold;
  font-size: inherit;
}

table {
  /**表格*/
  border-collapse: collapse;
  text-align: center;
  margin: 1em 8px;
  color: var(--el-text-color-regular);
}

thead {
  /**表格的表头*/
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  color: var(--el-text-color-regular);
}

td {
  /**表格的行*/
  border: 1px solid #dfdfdf;
  padding: 0.25em 0.5em;
  color: #3f3f3f;
  word-break: keep-all;
}

figcaption {
  text-align: center;
  color: #888;
  font-size: 0.8em;
}
