* {
  --md-primary-color: #e7642b;
  --code-color: #eb6161;
  --strong-color: #424b5d;
  line-height: 1.5;
  font-family: Optima, PingFangSC-regular, serif;
  text-align: left;
}
#output {
  line-break: anywhere;
}
.dark * {
  --strong-color: #bdb4a2;
}

#output {
  margin: 0;
  padding: 0;
}
h1 {
  display: flex;
  margin: 2em 0px 1em 0px;
  padding: 0;
}
h1 .content {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--md-primary-color);
}
h1 .prefix {
  display: none;
}
h1 .suffix {
  display: none;
}

h2 {
  margin: 30px auto 15px;
  display: block;
  padding: 0;
  position: relative;
  text-align: left;
}
h2 .content {
  font-size: 1.28em;
  color: rgba(255, 255, 255, 1);
  line-height: 1.5em;
  text-align: center;
  padding: 3px 11px;
  background-color: var(--md-primary-color);
  border: 1px solid;
  display: block;
  font-weight: bold;
  position: relative;
}
h2 .prefix {
  display: none;
}
h2 .suffix {
  display: none;
}

h3 {
  margin: 30px 0 15px 0;
  display: flex;
}
h3 .content {
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0em;
  font-weight: bold;
  display: block;
}

h4 {
  margin: 30px 0px 15px 0px;
  padding: 0px;
  display: flex;
}
h4 .content {
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
  display: block;
}
h4 .prefix {
  display: none;
}
h4 .suffix {
  display: none;
}

h5 {
  margin: 30px 0px 15px 0px;
  padding: 0;
}
h5 .content {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  display: block;
}
h5 .prefix {
  display: none;
}
h5 .suffix {
  display: none;
}

h6 {
  margin: 30px 0px 15px 0px;
  padding: 0;
}
h6 .content {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  display: block;
}

p {
  line-height: 1.8em;
  letter-spacing: 0.04em;
  text-align: left;
  text-indent: 0em;
  margin: 0;
  padding: 8px 0px;
}

blockquote {
  margin: 20px 0px;
  padding: 10px 10px 10px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  display: block;
  -webkit-overflow-scrolling: touch;
}
.dark blockquote {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.16);
}
.blockquote_p {
  line-height: 1.8em;
  letter-spacing: 0em;
  text-align: left;
  font-weight: normal;
  margin: 0px;
}

.code_pre {
  margin: 10px 0px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 10px;
}

.code_pre code {
  display: -webkit-box;
  -webkit-overflow-scrolling: touch;
}
.code_pre code * {
  padding: 0;
  text-align: left;
  font-family: Consolas, Monaco, Menlo, monospace;
}

img {
  display: block;
  max-width: 100% !important;
  margin: 0 auto;
  border-radius: 0;
}

ol {
  list-style-type: decimal; /* 使用数字作为列表项标记 */
  margin: 8px 0; /* 设置上下边距为8px，左右边距为0 */
  padding: 0px;
  padding-left: 1em;
  color: var(--el-text-color-regular);
}

ul {
  list-style-type: disc;
  margin: 8px 0px;
  padding: 0px;
  padding-left: 1em;
  color: var(--el-text-color-regular);
}

listitem {
  display: block;
  line-height: 1.8em;
  letter-spacing: 0em;
  text-align: left;
  font-weight: normal;
}

figure {
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
figure a {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 10px 0;
  padding: 0;
  border-radius: 0;
}

codespan {
  color: var(--code-color);
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: 0em;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px none rgba(235, 97, 97, 0.4);
  border-bottom-style: solid;
  word-break: break-all;
  font-family: Consolas, Monaco, Menlo, monospace;
}

em {
  color: var(--strong-color);
  font-style: italic;
}
em strong {
  color: var(--strong-color);
  font-weight: bold;
  font-style: italic;
  background-position: left top;
}

.link {
  color: var(--code-color);
  border: 1px none var(--code-color);
  border-bottom-style: solid;
}

.wx_link {
  color: var(--code-color);
  border: 1px none var(--code-color);
  border-bottom-style: solid;
  text-decoration: none;
}

sup {
  font-size: 0.8em;
}

strong {
  color: var(--strong-color);
  font-weight: bold;
}

.table-container {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
.table-container table {
  margin: 1em 8px;
  display: table;
  text-align: left;
}
.table-container thead td {
  line-height: 1.5em;
  text-align: left;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid rgba(204, 204, 204, 0.4);
  padding: 5px 10px;
}
.dark .table-container thead td {
  background-color: #0f0f0f;
  border: 1px solid rgba(51, 51, 51, 0.6);
}
.table-container table thead tr td:nth-of-type(n) {
  min-width: 85px;
}
.table-container tbody {
  line-height: 1.5em;
  text-align: left;
  border: 0;
}
.table-container table tbody tr td:nth-of-type(n) {
  min-width: 85px;
}
.table-container table tbody tr td {
  padding: 5px 10px;
}
.table-container table tbody tr:nth-of-type(2n + 1) {
  color: black;
  background-color: white;
}
.dark .table-container table tbody tr:nth-of-type(2n + 1) {
  color: white;
  background-color: black;
}
.table-container table tbody tr:nth-child(odd) td {
  border: 1px solid rgba(204, 204, 204, 0.4);
}
.dark .table-container table tbody tr:nth-child(odd) td {
  border: 1px solid rgba(51, 51, 51, 0.4);
}
.table-container table tbody tr:nth-of-type(2n) {
  background-color: #f8f8f8;
}
.dark .table-container table tbody tr:nth-of-type(2n) {
  background-color: #070707;
}
.table-container tr:nth-of-type(2n) td {
  border: 1px solid rgba(204, 204, 204, 0.4);
}
.dark .table-container tr:nth-of-type(2n) td {
  border: 1px solid rgba(51, 51, 51, 0.4);
}

figcaption {
  text-align: center;
  color: rgba(136, 136, 136, 1);
  font-size: 0.8em;
}

footnotes p {
  display: inline-block;
  text-align: left;
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: 0em;
}
